<html ng-app="tcc-site" lang="pt-br">
<head>
	<title>Introdução - HTML</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="./css/aula.css">
	
</head>
<body>
	<div id="edit_screen"  ng-controller="tcc-site as tcc">
		<div id="header">
			<h1 id="title">{{levels[cur_level].name}}</h1>

			<div id="num-levels">
				<span class="seta esq" ng-click="backLevel(cur_level)" name="seta-esq">◀</span>
				<span id="level-indicator">
					<span id="labelLevel" class="translate">Level</span>
					<span class="current" ng-model="confirmed" ng-change="limitLevel()">{{cur_level+1}}</span>
					<span id="labelOf" class="translate">of</span>
					<span class="total">{{levels.length}}</span>
					<span class="caret">▾</span>
				</span>
				<span class="seta dir" ng-click="nextLevel()" name="seta-dir">▶</span>

				<div id="levels-box" class="tooltip">
					<div id="levels">
						
					</div>
				</div>
			</div>
		</div>
		
		<div id="instr">
			{{levels[cur_level].instr}}
		</div>

		<div id="editor">
			<div id="css">
				<div class="line-numbers">
					1
					<br>
					2
					<br>
					3
					<br>
					4
					<br>
					5
					<br>
					6
					<br>
					7
					<br>
					8
					<br>
				</div>
				<pre id="before">{{levels[0].before}}</pre>
				<input type="text" id="text" onchange="appendHTML()" ng-model="myHTML"></input>
				<pre id="after">{{levels[0].after}}</pre>

				<button id="quit_btn">Sair</button>
				<button id="clear_storage" ng-click="clearStorage()">Limpar</button>
				<button id="submit" ng-click="submit()">Submit</button>
				<button id="next_btn" ng-click="passLevel()" ng-disabled="text.$invalid">Próximo</button>
			</div>

			
		</div>
		
	</div>

	<section id="view_screen">
		<div id="vscreen">
			<div id="board">
				<div id="background">
					
				</div>

				<div id="item" ng-model="item">
					
				</div>
			</div>
		</div>
	</section>

	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-sanitize.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
	<script src="./JS/module.js"></script>
	<script type="text/javascript" src="./JS/aulas.js"></script>
	<script src="./JS/jquery.min.js"></script>
	<script type="text/javascript" src="./JS/game.js"></script>
	<script type="text/javascript" src="./JS/levels.js"></script>
	<script src="JS/native.js"></script>

	<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-23019901-13', 'auto');
      ga('send', 'pageview');
    </script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
    
    
</body>
</html>