<html ng-app="tcc-site">
<head>
<title>Conta</title>

<link rel="stylesheet" type="text/css" href="contaUsuario.css">
</head>
<body ng-controller="tcc-site">
	<h1>Acesse suas aulas</h1>

	<ul id="menu">
		<li ng-repeat="tema in temas">
			{{tema.tema}}
			<li ng-repeat="aula in temas.aulas">
				{{aula.name}}
			</li>
		</li>		
	</ul>

<!-- 	<div id="menu"> -->
<!-- 		<ul class="sanfona"> -->
<!-- 			<li tabindex="0"> -->
<!-- 				<div class="class_title">{{menu[0]}}</div> -->
<!-- 				<div class="sub_item"> -->
<!-- 					<ul> -->
<!-- 						<li>Introdução</li> -->
<!-- 						<li>Tags</li> -->
<!-- 						<li>Imagens</li> -->
<!-- 						<li>Botões</li> -->
<!-- 						<li>Listas</li> -->
<!-- 						<li>Tabelas</li> -->
<!-- 						<li>Classe</li> -->
<!-- 						<li>ID</li> -->
<!-- 						<li>Comentários</li> -->
<!-- 					</ul> -->
<!-- 				</div> -->
<!-- 			</li> -->

<!-- 			<li tabindex="1"> -->
<!-- 				<div class="class_title">CSS</div> -->
<!-- 				<div class="sub_item"> -->
<!-- 					<ul> -->
<!-- 						<li>Introdução</li> -->
<!-- 						<li>Seletores</li> -->
<!-- 						<li>Classe</li> -->
<!-- 						<li>ID</li> -->
<!-- 						<li>Texto</li> -->
<!-- 						<li>Tamanho dos elementos</li> -->
<!-- 						<li>Modelo de caixa</li> -->
<!-- 						<li>Posição</li> -->
<!-- 						<li>Elemento flutuante</li> -->
<!-- 					</ul> -->
<!-- 				</div> -->
<!-- 			</li> -->

<!-- 			<li tabindex="2"> -->
<!-- 				<div class="class_title">JavaScript</div> -->
<!-- 				<div class="sub_item"> -->
<!-- 					<ul> -->
<!-- 						<li>Introdução</li> -->
<!-- 						<li>Variáveis</li> -->
<!-- 						<li>Operadores</li> -->
<!-- 						<li>Condicional</li> -->
<!-- 						<li>Funções</li> -->
<!-- 						<li>Eventos</li> -->
<!-- 					</ul> -->
<!-- 				</div> -->
<!-- 			</li> -->
<!-- 		</ul> -->
<!-- 	</div> -->

	<button id="sair_btn">Sair</button>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-sanitize.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
	<script type="text/javascript" src="module.js"></script>
	<script type="text/javascript" src="index.js"></script>
</body>
</html>