<html ng-app="tcc-site" lang="pt-br">
<head>
<title>Conta</title>
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="contaUsuario.css">
<link href="bootstrap.min.css" rel="stylesheet">
</head>
<body ng-controller="tcc-site">
	<h1>Acesse suas aulas</h1>
  	
  	<uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" heading="HTML" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled" ">
      <a class="btn btn-primary btn-lg btn-block" ng-repeat="(key, value) in temas[0].aulas" href="./html_page/aula.html">
      	{{value}}
      </a>
    </div>
    <div uib-accordion-group class="panel-default" heading="CSS" >
      <a class="btn btn-primary btn-lg btn-block" ng-repeat="(key, value) in temas[1].aulas" href="./css_page/aula.html">
      	{{value}}
      </a>
    </div>
    <div uib-accordion-group class="panel-default" heading="JavaScript">
      <a class="btn btn-primary btn-lg btn-block" ng-repeat="(key, value) in temas[2].aulas" href="./js_page/aula.html">
      	{{value}}
      </a>
    </div>
    
  </uib-accordion>

	<button id="sair_btn">Sair</button>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-sanitize.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
	<script type="text/javascript" src="module.js"></script>
	<script type="text/javascript" src="index.js"></script>
	<script src="ui-bootstrap-tpls-2.5.0.js"></script>
</body>
</html>