<html ng-app="tcc-site" lang="pt-br">
<head>
<title>Conta</title>
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="index.css">
<link href="bootstrap.min.css" rel="stylesheet">
</head>
<body ng-controller="tcc-site">
	<h1>Acesse suas aulas</h1>
  	
  	<div id="menu">
        <uib-accordion id="accordion" close-others="oneAtATime">
            <div class="aulas">
                <div uib-accordion-group class="panel-default aula" style="width: 80%">
                    <uib-accordion-heading>
                        HTML
                    </uib-accordion-heading>
                    <p ng-repeat="(key, value) in temas[0].aulas">
                      {{value}}
                    </p>
                </div>
                <a class="btn btn-primary btn-lg btn-block button" style="width: 20%" onclick="window.location.href='html_page/aula.html'">HTML - Começar</a>
            </div>
            
            <div class="aulas">
                <div uib-accordion-group class="panel-default aula" style="width: 80%">
                    <uib-accordion-heading>
                        CSS
                    </uib-accordion-heading>
                    <p ng-repeat="(key, value) in temas[1].aulas">
                      {{value}}
                    </p>
                </div>
                <a class="btn btn-primary btn-lg btn-block button" style="width: 20%" onclick="window.location.href='css_page/aula.html'">CSS - Começar</a>
            </div>
            
            <div class="aulas">
                <div uib-accordion-group class="panel-default aula" style="width: 80%">
                    <uib-accordion-heading>
                        JavaScript
                    </uib-accordion-heading>
                    <p ng-repeat="(key, value) in temas[2].aulas">
                      {{value}}
                    </p>
                </div>
                <a class="btn btn-primary btn-lg btn-block button" style="width: 20%" onclick="window.location.href='js_page/aula.html'">JavaScript - Começar</a>
            </div>
            
            
        </uib-accordion>
    </div>

	<button id="sair_btn">Sair</button>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-sanitize.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
	<script type="text/javascript" src="module.js"></script>
	<script type="text/javascript" src="index.js"></script>
	<script src="ui-bootstrap-tpls-2.5.0.js"></script>
</body>
</html>