#page{
    background-color: blue;
    margin: 0;
    height: 100%;
}

#title {
	font-size: 60px;
	font-family: serif;
    text-align: center;
    margin: 0;
}

button {
	display: inline-block;
	margin-top: 10px;
	padding: 0.4em 0.8em;
	background-image: linear-gradient(to right, #0BD012, #06900B);
	border: none;
	cursor: pointer;
}

button:hover {
	opacity: 0.7;
}

span{
	font-size: 18px;
}

a{
	margin: 0;
}

#menu{
    position: relative;
	display: flex;
	width: 100%;
	margin-top: 30px;
	padding: 0;
}

#bar{
	display: flex;
	align-items: center;
	width: 150px;
	height: 600px;
	background-image: linear-gradient(to right,#DFDFDF,  #9D9C9C);
    border-radius: 0px;
    z-index: 2;
}

#buttons{
	flex-direction: column;
	padding: 0px;
}

#btn_html, #btn_css, #btn_js{
    width: 150px;
    margin-top: 20px;
}

#btn_html{
    animation: piscar 5s step-start infinite;
    animation-delay: 1s;
}

#btn_css{
    animation: piscar 5s step-start infinite;
    animation-delay: 2s;
}

#btn_js{
    animation: piscar 5s step-start infinite;
    animation-delay: 3s;
}

@keyframes piscar{
    50%{
        opacity: 0.5;
    }
}

#html_content, #css_content, #js_content{
    position: absolute;
    top: 25px;
	width: 500px;
	height: 550px;
	color: #00ffff;
	padding: 30px 30px 30px 30px;
	border-top: 30px solid #c0c0c0;
	border-right: 30px solid #c0c0c0;
	border-bottom: 30px solid #c0c0c0;
	border-left: 30px solid #c0c0c0;
	background-color: #000000;
    border-radius: 4px;
    z-index: 0;
}

.none{
	display: none;
}

.fadein-left{
	-webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-duration:1s;
    animation-delay: 1s;
}

@keyframes fadeInLeft{
	from {
        -webkit-transform: translatex(-500px);
        -moz-transform: translatex(-500px);
        -o-transform: translatex(-500px);
        transform: translatex(-500px);
    }
    to {
        -webkit-transform: translatex(140px);
        -moz-transform: translatex(140px);
        -o-transform: translatex(140px);
        transform: translatex(140px);
    }
}

@-webkit-keyframes fadeInLeft {
    from {
        -webkit-transform: translatex(-500px);
        -moz-transform: translatex(-500px);
        -o-transform: translatex(-500px);
        transform: translatex(-500px);
    }
    to {
        -webkit-transform: translatex(140px);
        -moz-transform: translatex(140px);
        -o-transform: translatex(140px);
        transform: translatex(140px);
    }
}
@-moz-keyframes fadeInLeft {
    from {
        -webkit-transform: translatex(-500px);
        -moz-transform: translatex(-500px);
        -o-transform: translatex(-500px);
        transform: translatex(-500px);
    }
    to {
        -webkit-transform: translatex(140px);
        -moz-transform: translatex(140px);
        -o-transform: translatex(140px);
        transform: translatex(140px);
    }
}

.fadeout{
	-webkit-animation-name: fadeOut;
    -moz-animation-name: fadeOut;
    -o-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-duration:1s;
    animation-delay: 1s;
}

@keyframes fadeOut{
	from {
        -webkit-transform: translatex(0px);
        -moz-transform: translatex(0px);
        -o-transform: translatex(0px);
		transform: translatex(0px);
    }
    to {
		-webkit-transform: translatex(-500px);
        -moz-transform: translatex(-500px);
        -o-transform: translatex(-500px);
        transform: translatex(-500px);
    }
}

@-webkit-keyframes fadeOut {
    from {
        -webkit-transform: translatex(0px);
        -moz-transform: translatex(0px);
        -o-transform: translatex(0px);
		transform: translatex(0px);
    }
    to {
		-webkit-transform: translatex(-500px);
        -moz-transform: translatex(-500px);
        -o-transform: translatex(-500px);
        transform: translatex(-500px);
    }
}
@-moz-keyframes fadeOut {
    from {
        -webkit-transform: translatex(0px);
        -moz-transform: translatex(0px);
        -o-transform: translatex(0px);
		transform: translatex(0px);
    }
    to {
		-webkit-transform: translatex(-500px);
        -moz-transform: translatex(-500px);
        -o-transform: translatex(-500px);
        transform: translatex(-500px);
    }
}