#edit_screen {
	width: 50vw;
	height: auto;
	position: relative;
	padding: 2em;
	background-image: url("../img/space_backg.png");
	color: #00ffff;
	font-size: 20px;
	z-index: 10;
}

#title {
	font-family: 'Luckiest Guy';
}

.title_table{
	font-size: 32px;
}

.title_else{
	font-size: 40px;
}

#num-levels {
	position: relative;
	display: inline-block;
	width: 16vw;
	height: 4vh;
	margin-top: 0.5rem;
	font-size: 15px;
	user-select: none;
	background-color: #D3D3D3;
	border-radius: 4px;
}

#button1 {
	background-color: #D3D3D3;
	width: 2.2vw;
	height: 4vh;
	padding: 0.4em 0.8em;
	border-right: 1px solid black;
	border-top: none;
	border-left: none;
	border-bottom: none;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	cursor: pointer;
	text-align: 50vh;
}

#level-indicator {
	display: inline-block;
	width: 11vw;
	height: 4vh;
	line-height: 23px;
	text-align: center;
	color: black;
	cursor: pointer;
}

#level-indicator span{
	height: 4vh;
}

#level-indicator img{
	height: 2vh;
}

#button2 {
	background-color: #D3D3D3;
	width: 2vw;
	height: 4vh;
	padding: 0.4em 0.8em;
	border-left: 1px solid black;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-bottom-right-radius: 4px;
  	border-top-right-radius: 4px;
	cursor: pointer;
	text-align: 50vh;
}

#instr {
	position: relative;
	font-size: 16px;
	font-family: sans-serif;
	padding-top: 1rem;
	padding-bottom: 1em;
}

#editor {
	position: relative;
}

#editor, pre {
	font-family: 'Source Code Pro', monospace;
	font-size: 16px;
	line-height: 1.5;
	color: #aaa;
}

#before {
	font-size: 18px;
	color: #00ffff;
	margin: 0;
}

#after{
	font-size: 18px;
	color: #00ffff;
}

		#button1:disabled, #button2:disabled{
			opacity: 0.4;
			cursor: context-menu;
		}

.pc_screen_two {
	height: 55vh;
	width: 45vw;
	position: relative;
	padding: 13px 30px 30px 13px;
	border-top: 30px solid #c0c0c0;
	border-right: 30px solid #c0c0c0;
	border-bottom: 50px solid #c0c0c0;
	border-left: 30px solid #c0c0c0;
	background-color: #000000;
	border-radius: 4px;
	overflow: hidden;
}

.pc_screen_five {
	height: 54vh;
	width: 45vw;
	position: relative;
	padding: 13px 30px 30px 13px;
	border-top: 30px solid #c0c0c0;
	border-right: 30px solid #c0c0c0;
	border-bottom: 50px solid #c0c0c0;
	border-left: 30px solid #c0c0c0;
	background-color: #000000;
	border-radius: 4px;
	overflow: hidden;
}

.pc_screen_table {
	height: 57vh;
	width: 45vw;
	position: relative;
	padding: 13px 30px 30px 13px;
	border-top: 30px solid #c0c0c0;
	border-right: 30px solid #c0c0c0;
	border-bottom: 50px solid #c0c0c0;
	border-left: 30px solid #c0c0c0;
	background-color: #000000;
	border-radius: 4px;
	overflow: hidden;
}

.pc_screen_div {
	height: 57vh;
	width: 45vw;
	position: relative;
	padding: 13px 30px 30px 13px;
	border-top: 30px solid #c0c0c0;
	border-right: 30px solid #c0c0c0;
	border-bottom: 50px solid #c0c0c0;
	border-left: 30px solid #c0c0c0;
	background-color: #000000;
	border-radius: 4px;
	overflow: hidden;
}

.pc_screen_ten {
	height: 58vh;
	width: 45vw;
	position: relative;
	padding: 13px 30px 30px 13px;
	border-top: 30px solid #c0c0c0;
	border-right: 30px solid #c0c0c0;
	border-bottom: 50px solid #c0c0c0;
	border-left: 30px solid #c0c0c0;
	background-color: #000000;
	border-radius: 4px;
	overflow: hidden;
}

.pc_screen_eleven {
	height: 55vh;
	width: 45vw;
	position: relative;
	padding: 13px 30px 30px 13px;
	border-top: 30px solid #c0c0c0;
	border-right: 30px solid #c0c0c0;
	border-bottom: 50px solid #c0c0c0;
	border-left: 30px solid #c0c0c0;
	background-color: #000000;
	border-radius: 4px;
	overflow: hidden;
}

.pc_screen_else {
	height: 50vh;
	width: 45vw;
	position: relative;
	padding: 30px 30px 30px 30px;
	border-top: 30px solid #c0c0c0;
	border-right: 30px solid #c0c0c0;
	border-bottom: 50px solid #c0c0c0;
	border-left: 30px solid #c0c0c0;
	background-color: #000000;
	border-radius: 4px;
	overflow: hidden;
}

#levels-box{
	display: none;
	top: 4vh;
	right: 1vw;
	width: 8vw;
	padding: 1em 0.5em;
	margin-top: 12px;
	z-index: 80;
}

#levels-box:after{
	left: calc(50% - 12px);
}

#levels{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#next_btn {
	position: absolute;
	right: 1.7vw;
	bottom: 1vh;
}

		#next_btn.disabled {
			opacity: 0.5;
			cursor: context-menu;
		}

#check{
	position: absolute;
	right: 8vw;
	bottom: 1vh;
}

#clear_storage {
	margin-top: 10px;
	text-align: center;
	cursor: pointer;
	color: black;
	font-weight: bold;
}

#clear_text{
	position: absolute;
	right: 14vw;
	bottom: 1vh;
}

#quit_btn {
	position: absolute;
	left: 2vw;
	bottom: 1vh;
}

.text_two{
	display: block;
	width: calc(100% - 40px);
	height: 85px;
	background-color: black;
	color: #00ffff;
    margin-left: 40px;
    border: none;
    font-size: 18px;
    outline: none;
    resize: none;
	overflow: auto;
}

.text_else{
    display: block;
	width: calc(100% - 40px);
	height: 30px;
	background-color: black;
	color: #00ffff;
    margin-left: 40px;
    border: none;
    font-size: 18px;
    outline: none;
    resize: none;
	overflow: auto;
}

.text_five{
	display: block;
	width: calc(100% - 40px);
	height: 85px;
	background-color: black;
	color: #00ffff;
    margin-left: 40px;
    border: none;
    font-size: 18px;
    outline: none;
    resize: none;
	overflow: auto;
}

.text_six{
	display: block;
	width: calc(100% - 40px);
	height: 108px;
	background-color: black;
	color: #00ffff;
    margin-left: 40px;
    border: none;
    font-size: 18px;
    outline: none;
    resize: none;
	overflow: auto;
}

.text_nine{
	display: block;
	width: calc(100% - 40px);
	height: 108px;
	background-color: black;
	color: #00ffff;
    margin-left: 40px;
    border: none;
    font-size: 18px;
    outline: none;
    resize: none;
	overflow: auto;
}

.text_ten{
    display: block;
	width: calc(100% - 40px);
	height: 30px;
	background-color: black;
	color: #00ffff;
    margin-left: 40px;
    border: none;
    font-size: 18px;
    outline: none;
    resize: none;
	overflow: auto;
}

.text_eleven{
	display: block;
	width: calc(100% - 40px);
	height: 85px;
	background-color: black;
	color: #00ffff;
    margin-left: 40px;
    border: none;
    font-size: 18px;
    outline: none;
    resize: none;
	overflow: auto;
}

.credits{
	font-size: 15px;
}

.line-numbers {
	position: absolute;
	top: 0;
	left: 0;
	height: 78%;
	padding: 10px 6px;
	text-align: right;
	background-color: #999;
	color: #D5D5D5;
}

.box {
	position: absolute;
	display: inline-block;
	max-width: 225px;
	padding: 1em 1em;
	background-color: #D3D3D3;
	border-radius: 4px;
	font-size: 12px;
	line-height: 1.5;
	z-index: 80;
}

		.box:after {
			content: '';
			position: absolute;
			top: -12px;
			left: 12px;
			width: 0;
			height: 0;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-bottom: 12px solid #D3D3D3;
		}

.level-marker {
	float: left;
	display: block;
	width: 30px;
	height: 30px;
	margin: 2px;
	line-height: 26px;
	background-color: white;
	color: black;
	border: 2px solid transparent;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
}
  
		.level-marker:hover {
			border-color: rgba(255, 255, 255, 0.5);
		}

.cleared{
	background-color: green;
	color: white;
}

/*#css_btn,
#js_btn,*/
#help_btn{
	margin-top: 2vh;
	margin-right: 1vw;
}

#html_about_btn{
	margin-top: 2vh;
}