#view_screen {
	position: relative;
	width: 50vw;
	height: auto;
}

#board {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1em;
}

.background{
	display: flex;
	z-index: 30;
}

.item{
	display: flex;
	position: absolute;
	width: auto;
	height: auto;
	margin: 0;
}

.item table{
	border-collapse: separate;
	border-spacing: 20px;
	width: 100%;
}

.item th{
	border: 1px solid black;
	background-color: #00ffff;
	width: 100px;
	height: 100px;
}

.item td {
	border: 1px solid black;
	background-color: #00ffff;
	width: 150px;
	height: 200px;
}

.level-one{
	background-image : url("../img/level_one.png"); 
	background-size: 100%;
	background-repeat : no-repeat;
	background-position : center bottom;
	position: absolute;	
	top	: 0;
	left : 0;
	width: 50vw;
	height : 100vh;	
	padding	: 1em;
	background-color: #80ffff;
	z-index: 10;
}

.pos_one{
	font-family: 'Permanent Marker', cursive;
	font-size: 30px;
	position: absolute;
	top: 40vh;
	left: 25vw;
	transform: translate(-50%, -38%);
	z-index: 50;
}

.level-two{
	background-image : url("../img/level_two.png"); 
	background-size: 100%;
	background-repeat : no-repeat;
	background-position : center 75%, center bottom;
	order: 1, 2;
	display : flex;	
	position: absolute;	
	top	: 0;
	left : 0;
	width: 100%;
	height : 100%;	
	padding	: 1em;
	z-index: 10;
}

.pos_two{
	font-family: 'Permanent Marker', cursive;
	text-align: justify;
	width: 300px;
	font-size: 20px;
	top: 20em;
	left: 11.5em;
	z-index: 50;
}

.level-three{
	background-image : url("../img/level_three.png"); 
	background-size: 100%;
	background-repeat : no-repeat;
	background-position : center bottom;
	display : flex;	
	position: absolute;	
	top	: 0;
	left : 0;
	width: 100%;
	height : 100%;	
	padding	: 1em;
	z-index: 10;
}

.pos_three{
	display: flex;
	position: absolute;
	width: 45%;
	height: 20%;
	z-index: 50;
	top: 26em;
	left:13em;
}

.pos_three img{
	width:100%;
	height: auto;
}

.level-four{
	background-image : url("../img/level_four.png"); 
	background-size: 100%;
	background-repeat : no-repeat;
	background-position : center bottom;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height : 100%;	
	padding	: 1em;
	z-index: 10;
}

.pos_four{
	width: 80%;
	height: 30%;
	padding: 1em;
	z-index: 50;
}

.pos_four a{
	color: blue;
	width: 100%;
	height: 50%;
	padding: 1em;
	z-index: 50;
}

.level-five{
	background-image : url("../img/level_five.png"); 
	background-size: 100%;
	background-repeat : no-repeat;
	background-position : center bottom;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height : 100%;	
	padding	: 1em;
	z-index: 10;
}

.level-six{
	background-image : url("../img/level_six.png"); 
	background-size: 100%;
	background-repeat : no-repeat;
	background-position : center bottom;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height : 100%;	
	padding	: 1em;
	z-index: 10;
}

.pos_six{
	border: 1px solid black;
}

.level-seven{
	background-image : url("../img/level_seven.png"); 
	background-size: 100%;
	background-repeat : no-repeat;
	background-position : center bottom;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height : 100%;	
	padding	: 1em;
	z-index: 10;
}



.pos_ten{
	width: 70%;
	height: 70%;
	padding: 1em;
	z-index: 50;
}

.speech-bubble {
	position: relative;
	text-align: center;
	font-size: 24px;
	height: 50px;
	width: 250px;
	top: 75%;
	left: 35%;
	padding: 5px;
	background: #00aabb;
	border-radius: .4em;
	z-index: 100;
}

		.speech-bubble:after {
			content: '';
			position: absolute;
			left: 1%;
			top: 50%;
			width: 0;
			height: 0;
			border: 10px solid transparent;
			border-right-color: #00aabb;
			border-left: 0;
			margin-top: -10px;
			margin-left: -10px;
			z-index: 100;
		}

#pedra{
	background-image: url('../img/ground.png');
	background-repeat: no-repeat;
	position: absolute;
}