#view_screen {
	position: relative;
	width: 50vw;
	height: auto;
}

#board {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1em;
}

.background{
	display: flex;
	z-index: 30;
}

.item{
	display: flex;
	position: absolute;
	width: auto;
	height: auto;
	margin: 0;
}

.item table{
	border-spacing: 20px;
	width: 100%;
	background-color: white;
}

.item th{
	border: 10px solid #d3d3d3;
    background-color: #bfffff;
	width: 100px;
	height: 100px;
}

.item td {
	border: 10px solid #d3d3d3;
    background-color: #bfffff;
	width: 150px;
	height: 200px;
}

.item div{
	background-color: #FEFCB6;
	border-radius: 30px;
    width: 60px;
    height: 60px;
}

.level-one{
	background-image : url("../img/level_one.png"); 
	background-size: 50vw 100vh;
	background-repeat : no-repeat;
	position: absolute;	
	top	: 0;
	left : 0;
	width: 50vw;
	height : 100vh;	
	z-index: 10;
}

.pos_one{
	font-size: 30px;
	position: absolute;
	top: 46vh;
	left: 23vw;
	transform: translate(-50%, -38%);
	z-index: 50;
}

.level-two{
	background-image : url("../img/level_two.png"); 
	background-size: 50vw 100vh;
	background-repeat : no-repeat;
	display : flex;	
	position: absolute;	
	top	: 0;
	left : 0;
	width: 100%;
	height : 100%;
	z-index: 10;
}

.pos_two{
	display: flex;
	flex-direction: column;
	text-align: justify;
	width: 320px;
	font-size: 24px;
	top: 43vh;
	left: 5vw;
	z-index: 50;
}

.level-three{
	background-image : url("../img/level_three.png"); 
	background-size: 50vw 100vh;
	background-repeat : no-repeat;
	display : flex;	
	position: absolute;	
	top	: 0;
	left : 0;
	width: 100%;
	height : 100%;
	z-index: 10;
}

.pos_three{
	display: flex;
	position: absolute;
	width: 55%;
	height: 28%;
	z-index: 50;
	top: 6vh;
	left: 6vw;
	transform: rotateX(27deg) rotateY(27deg); 
}

.pos_three img{
	width:100%;
	height: auto;
}

.level-four{
	background-image : url("../img/level_four.png"); 
	background-size: 50vw 100vh;
	background-repeat : no-repeat;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height : 100%;
	z-index: 10;
}

.pos_four{
	width: 80%;
	height: 30%;
	padding: 1em;
	z-index: 50;
}

.pos_four button{
	position: absolute;
    top: 62vh;
    left: 26.5vw;
    width: 85px;
    height: 35px;
    background-color: red;
    border: 2px solid black;
    border-radius: 10px;
}

.level-five{
	background-image : url("../img/level_five.png"); 
	background-size: 50vw 100vh;
	background-repeat : no-repeat;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height : 100%;
	z-index: 10;
}

.pos_five{
	width: 20%;
    height: 30%;
    padding: 1em;
    z-index: 50;
    position: absolute;
    top: 17vh;
    left: 35.5vw;
}

.level-six{
	background-image : url("../img/level_six.png"); 
	background-size: 50vw 100vh;
	background-repeat : no-repeat;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height : 100%;
	z-index: 10;
}

.pos_six{
	width: 80%;
    padding: 1em 1em 1.5em 1em;
    z-index: 50;
    position: absolute;
    top: 17vh;
    left: 4vw;
}

.level-seven{
	background-image : url("../img/level_seven.png"); 
	background-size: 50vw 100vh;
	background-repeat : no-repeat;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height : 100%;
	z-index: 10;
}

.pos_seven{
	display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 1em 1em 1.5em 1em;
    z-index: 50;
    position: absolute;
    top: 11vh;
    left: 10.9vw;
}

.level-eight{
	background-image : url("../img/level_eight.png"); 
	background-size: 50vw 100vh;
	background-repeat : no-repeat;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height : 100%;
	z-index: 10;
}

.pos_eight{
	width: 80%;
    padding: 1em 1em 1.5em 1em;
    z-index: 50;
    position: absolute;
}

.level-nine{
	background-image : url("../img/level_nine.png"); 
	background-size: 50vw 100vh;
	background-repeat : no-repeat;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height : 100%;
	z-index: 10;
}

.pos_nine{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 20vw;
	top: 19vh;
	padding: 1em;
	z-index: 100;
	font-size: 30px;
}

.item a{
	color: white;
}

.speech-bubble-one {
	font-family: 'Indie Flower', cursive;
	position: relative;
	text-align: center;
	font-size: 24px;
	height: 80px;
	width: 250px;
	top: 75%;
	left: 35%;
	padding: 5px;
	background: white;
	border: 2px solid black;
	border-radius: .4em;
	z-index: 100;
}

		.speech-bubble-one:after {
			content: '';
			position: absolute;
			left: 2%;
			top: 50%;
			width: 0;
			height: 0;
			border: 10px solid transparent;
			border-right-color: white;
			border-left: 0;
			margin-top: -10px;
			margin-left: -10px;
			z-index: 100;
		}
		
.speech-bubble-two {
	font-family: 'Indie Flower', cursive;
	position: relative;
	text-align: center;
	font-size: 24px;
	height: 80px;
	width: 250px;
	top: 15vh;
	left: 8vw;
	padding: 5px;
	background: white;
	border: 2px solid black;
	border-radius: .4em;
	z-index: 100;
}
		.speech-bubble-two:after {
			content: '';
			position: absolute;
			right: 5%;
			top: 50%;
			width: 0;
			height: 0;
			border: 10px solid transparent;
			border-left-color: white;
			border-right: 0;
			margin-top: -10px;
			margin-right: -20px;
			z-index: 100;
		}
		
.speech-bubble-three {
	font-family: 'Indie Flower', cursive;
	position: relative;
	text-align: center;
	font-size: 24px;
	height: 80px;
	width: 250px;
	top: 55vh;
	left: 4vw;
	padding: 5px;
	background: white;
	border: 2px solid black;
	border-radius: .4em;
	z-index: 100;
}

		.speech-bubble-three:after {
			content: '';
			position: absolute;
			right: 5%;
			top: 50%;
			width: 0;
			height: 0;
			border: 10px solid transparent;
			border-left-color: white;
			border-right: 0;
			margin-top: -10px;
			margin-right: -20px;
			z-index: 100;
		}

.speech-bubble-four {
	font-family: 'Indie Flower', cursive;
	position: relative;
	text-align: center;
	font-size: 24px;
	height: 80px;
	width: 250px;
	top: 50%;
	left: 60%;
	padding: 5px;
	background: white;
	border: 2px solid black;
	border-radius: .4em;
	z-index: 100;
}

		.speech-bubble-four:after {
			content: '';
			position: absolute;
			left: 2%;
			top: 50%;
			width: 0;
			height: 0;
			border: 10px solid transparent;
			border-right-color: white;
			border-left: 0;
			margin-top: -10px;
			margin-left: -10px;
			z-index: 100;
		}
		
.speech-bubble-five {
	font-family: 'Indie Flower', cursive;
	position: relative;
	text-align: center;
	font-size: 24px;
	height: 80px;
	width: 250px;
	top: 25%;
	left: 20%;
	padding: 5px;
	background: white;
	border: 2px solid black;
	border-radius: .4em;
	z-index: 100;
}

		.speech-bubble-five:after {
			content: '';
			position: absolute;
			left: 2%;
			top: 50%;
			width: 0;
			height: 0;
			border: 10px solid transparent;
			border-right-color: white;
			border-left: 0;
			margin-top: -10px;
			margin-left: -10px;
			z-index: 100;
		}
		
.speech-bubble-six {
	font-family: 'Indie Flower', cursive;
	position: relative;
	text-align: center;
	font-size: 24px;
	height: 80px;
	width: 250px;
	top: 55%;
	left: 20%;
	padding: 5px;
	background: white;
	border: 2px solid black;
	border-radius: .4em;
	z-index: 100;
}

		.speech-bubble-six:after {
			content: '';
			position: absolute;
			left: 2%;
			top: 50%;
			width: 0;
			height: 0;
			border: 10px solid transparent;
			border-right-color: white;
			border-left: 0;
			margin-top: -10px;
			margin-left: -10px;
			z-index: 100;
		}
		
.speech-bubble-seven {
	font-family: 'Indie Flower', cursive;
	position: relative;
	text-align: center;
	font-size: 24px;
	height: 80px;
	width: 250px;
	top: 65%;
	left: 53%;
	padding: 5px;
	background: white;
	border: 2px solid black;
	border-radius: .4em;
	z-index: 100;
}

		.speech-bubble-seven:after {
			content: '';
			position: absolute;
			left: 2%;
			top: 50%;
			width: 0;
			height: 0;
			border: 10px solid transparent;
			border-right-color: white;
			border-left: 0;
			margin-top: -10px;
			margin-left: -10px;
			z-index: 100;
		}
		
.speech-bubble-eight {
	font-family: 'Indie Flower', cursive;
	position: relative;
	text-align: center;
	font-size: 24px;
	height: 80px;
	width: 250px;
	top: 72%;
	left: 53%;
	padding: 5px;
	background: white;
	border: 2px solid black;
	border-radius: .4em;
	z-index: 150;
}

		.speech-bubble-eight:after {
			content: '';
			position: absolute;
			left: 2%;
			top: 50%;
			width: 0;
			height: 0;
			border: 10px solid transparent;
			border-right-color: white;
			border-left: 0;
			margin-top: -10px;
			margin-left: -10px;
			z-index: 150;
		}
		
.speech-bubble-nine {
	font-family: 'Indie Flower', cursive;
	position: relative;
	text-align: center;
	font-size: 24px;
	height: 80px;
	width: 250px;
	top: 55%;
	left: 42%;
	padding: 5px;
	background: white;
	border: 2px solid black;
	border-radius: .4em;
	z-index: 150;
}

		.speech-bubble-nine:after {
			content: '';
			position: absolute;
			left: 2%;
			top: 50%;
			width: 0;
			height: 0;
			border: 10px solid transparent;
			border-right-color: white;
			border-left: 0;
			margin-top: -10px;
			margin-left: -10px;
			z-index: 150;
		}

#pedra{
	background-image: url('../img/ground.png');
	background-size: 13vw 28vh;
	background-repeat: no-repeat;
	position: absolute;
	width: 13vw;
	height: 28vh;
	top: 40vh;
	left: 30vw;
	z-index: 80;
}

.char_level_one{
	background-image: url('../img/coutinho1.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 10vw;
    height: 35vh;
	top: 64vh;
	left: 4vw;
	z-index: 80;
}

.char_level_one_done{
	background-image: url('../img/coutinho2.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 10vw;
    height: 35vh;
	top: 64vh;
	left: 4vw;
	z-index: 80;
}

.char_level_one_error{
	background-image: url('../img/coutinho3.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 10vw;
    height: 35vh;
	top: 64vh;
	left: 4vw;
	z-index: 80;
}

.char_level_two{
	background-image: url(../img/coutinho1.png);
    transform: rotateY(180deg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 40vw;
    height: 120vh;
    top: -11vh;
    right: -15vw;
    z-index: 80;
}

.char_level_two_done{
	background-image: url('../img/coutinho2.png');
	transform: rotateY(180deg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 40vw;
    height: 120vh;
    top: -11vh;
    right: -15vw;
    z-index: 80;
}

.char_level_two_error{
	background-image: url('../img/coutinho3.png');
	transform: rotateY(180deg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 40vw;
    height: 120vh;
    top: -11vh;
    right: -15vw;
    z-index: 80;
}

.char_level_three{
	background-image: url('../img/coutinho1.png');
	transform: rotateY(180deg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 16vw;
    height: 50vh;
    top: 40vh;
    left: 25vw;
	z-index: 80;
}

.char_level_three_done{
	background-image: url('../img/coutinho2.png');
	transform: rotateY(180deg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 16vw;
    height: 50vh;
    top: 40vh;
    left: 25vw;
	z-index: 80;
}

.char_level_three_error{
	background-image: url('../img/coutinho3.png');
	transform: rotateY(180deg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 16vw;
    height: 50vh;
    top: 40vh;
    left: 25vw;
	z-index: 80;
}

.char_level_four{
	background-image: url('../img/coutinho1.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 16vw;
    height: 58vh;
    top: 34vh;
    left: 11vw;
	z-index: 80;
}

.char_level_four_done{
	background-image: url('../img/coutinho2.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 16vw;
    height: 58vh;
    top: 34vh;
    left: 11vw;
	z-index: 80;
}

.char_level_four_error{
	background-image: url('../img/coutinho3.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 16vw;
    height: 58vh;
    top: 34vh;
    left: 11vw;
	z-index: 80;
}

.char_level_five{
	background-image: url(../img/coutinho1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 31vw;
    height: 110vh;
    top: -3vh;
    left: -22vw;
    z-index: 80;
}

.char_level_five_done{
	background-image: url('../img/coutinho2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 31vw;
    height: 110vh;
    top: -3vh;
    left: -22vw;
    z-index: 80;
}

.char_level_five_error{
	background-image: url('../img/coutinho3.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 31vw;
    height: 110vh;
    top: -3vh;
    left: -22vw;
    z-index: 80;
}

.char_level_six{
	background-image: url(../img/coutinho1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 17vw;
    height: 60vh;
	top: 38vh;
	left: -8vw;
    z-index: 80;
}

.char_level_six_done{
	background-image: url('../img/coutinho2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 17vw;
    height: 60vh;
	top: 38vh;
	left: -8vw;
    z-index: 80;
}

.char_level_six_error{
	background-image: url('../img/coutinho3.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 17vw;
    height: 60vh;
	top: 38vh;
	left: -8vw;
    z-index: 80;
}

.char_level_seven{
	background-image: url('../img/coutinho1.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 10vw;
    height: 33vh;
	top: 55vh;
	left: 17vw;
	z-index: 80;
}

.char_level_seven_done{
	background-image: url('../img/coutinho2.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 10vw;
    height: 33vh;
	top: 55vh;
	left: 17vw;
	z-index: 80;
}

.char_level_seven_error{
	background-image: url('../img/coutinho3.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 10vw;
    height: 33vh;
	top: 55vh;
	left: 17vw;
	z-index: 80;
}

.char_level_eight{
	background-image: url('../img/coutinho1.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 10vw;
    height: 33vh;
	top: 60vh;
	left: 17vw;
	z-index: 80;
}

.char_level_eight_done{
	background-image: url('../img/coutinho2.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 10vw;
    height: 33vh;
	top: 60vh;
	left: 17vw;
	z-index: 80;
}

.char_level_eight_error{
	background-image: url('../img/coutinho3.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 10vw;
    height: 33vh;
	top: 60vh;
	left: 17vw;
	z-index: 80;
}

.char_level_nine{
	background-image: url('../img/coutinho1.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 18vw;
    height: 60vh;
	top: 34vh;
	left: 3vw;
	z-index: 80;
}

.char_level_nine_done{
	background-image: url('../img/coutinho2.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 18vw;
    height: 60vh;
	top: 34vh;
	left: 3vw;
	z-index: 80;
}

.char_level_nine_error{
	background-image: url('../img/coutinho3.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 18vw;
    height: 60vh;
	top: 34vh;
	left: 3vw;
	z-index: 80;
}